.assignment i {
    cursor: pointer;
}

a.check {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.assignment > :first-child {
    padding-left: 0px;
    padding-right: 30px;
}

.assignment > :last-child {
    padding-left: 30px;
    padding-right: 0px;
}

.navbar-brand > a:focus {
    outline: none; // this is horrible from an accessibility perspective, but this triggers when people click it, which I don't want
}
