.assignment .destroy {
    cursor: pointer;
    visibility: hidden;
}

.assignment:hover .destroy {
    visibility: inherit;
    color: gray;
}

.assignment .destroy:hover {
    color: black;
}

a.check {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

#intercom-wrapper {
    display: none;
}

.assignment > :first-child {
    padding-left: 0px;
    padding-right: 30px;
}

.assignment > :last-child {
    padding-left: 30px;
    padding-right: 0px;
}
