.assignment i {
    cursor: pointer;
}

a.check {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

#intercom-wrapper {
    display: none;
}

.assignment > :first-child {
    padding-left: 0px;
    padding-right: 30px;
}

.assignment > :last-child {
    padding-left: 30px;
    padding-right: 0px;
}
